.example-container {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.example-container > * {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
}

.mat-form-field {
  margin-bottom: 1rem;
}